<style type="text/css">

.action, .warning, .info {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.action {
  background-image: url("./images/action.png");
}
.warning {
  background-image: url("./images/warning.png");
}
.info {
  background-image: url("./images/info.png");
}

</style>




